<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 类型的别名（实体类型别名） -->
	<typeAliases>
		<package name="com.cdeledu.*.model" />
	</typeAliases>

	<!-- 指定 MyBatis 所用日志的具体实现，未指定时将自动查找 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
</configuration>
